*{margin: 0;padding: 0;}
@font-face {
    font-family: Misans Heavy;
}
@font-face {
    font-family: 字由文艺黑;
}
@font-face {
    font-family: 优设字由棒棒体;
}
@font-face {
    font-family: acier sans sans;
}
@font-face {
    font-family: Camar;
}
@font-face {
    font-family: TheNightWatch;
}
.a{
    font-family: Camar;font-size: 48px;color: #333;
}
.b{
    font-family: TheNightWatch;font-size: 48px;color: #4c9372;
}
.c{
    font-family: 字由文艺黑;font-size: 38px;color: #333;
}
.d{
    font-family: 优设字由棒棒体;font-size: 35px;color: #333;
}
.e{
    font-family: Misans Heavy;font-size: 68px;color: #e1005a;
}
.f{
    font-family: acier sans sans;font-size: 58px;color: #333;
}
.g{
   font-family: 微软雅黑;font-size: 36px;
}
.h{
    width: 500px;font-family: 微软雅黑;font-size: 14px;color: #747474;
    white-space: nowrap;overflow:hidden;text-overflow: ellipsis;
}

